<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color:bisque;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.submit{
		background-color: #6BA3E8;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	h1{	
		font-size: 30px;
		text-align: center;
    	font-style: italic;
    	color: cadetblue;
	}

</style>


<div class="center-column">
	<h1>Are you sure you want to delete "{{item}}"?</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input class="btn btn-info" type="submit" name="Confirm">
    </form>
</div>